<div class="comments">
  {{#each this}}
    <div class="bg-white p-4 rounded shadow-md my-4">
        <h3 class="text-xl font-semibold mb-2">{{comment_header}}</h3>
        <section>
            <div class="text-gray-800">
                {{comment_text}}
            </div>
            <div class="text-gray-600 text-sm">
                -{{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}
</div>
