<div >
  {{#each this}}
    <div >
        <h3 ></h3>
        <section >
            <div >
                {{comment_text}}
            </div>
            <div >
                -{{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}
</div>
