{{#if posts.length}} <!-- Check if there are any posts in the 'posts' array -->
<section> <!-- Start a section for displaying the user's posts -->
  <h2 class="text-2xl font-semibold">Your Posts</h2> <!-- Display a title for the user's posts -->
  {{#each posts as |post|}} <!-- Iterate through each post in the 'posts' array -->
    {{> dashboard-postinfo post}} <!-- Include a partial template to display post information -->
  {{/each}} <!-- End of the iteration through posts -->
</section> <!-- End of the section for displaying posts -->
{{/if}} <!-- End of the conditional check for posts -->

<button type="submit" class="btn"> <!-- Create a submit button -->
  <a class="link" href="/dashboard/new">+ New Post</a> <!-- Link to create a new post -->
</button> <!-- End of the button section -->

<script src="/javascript/add-post.js"></script> <!-- JavaScript file for adding a new post -->
