<div class="bg-white rounded shadow-md p-4">
    <!-- Card Title -->
    <h3 class="text-xl font-semibold mb-2">Update Your Post</h3>

    <!-- Update Post Form -->
    <form class="edit-post-form">
        <!-- Label for Post Title Input -->
        <label for="post-title" class="text-gray-700 mb-1">Post Title</label>

        <!-- Input for Post Title -->
        <input name="post-title" type="text" value="{{post.postTitle}}" class="w-full p-2 mb-2 border rounded" />

        <!-- Label for Content Input -->
        <label class="text-gray-700 mb-1" for="content">Content</label>

        <!-- Input for Post Content -->
        <input name="description" type="text" value="{{post.description}}" class="w-full p-2 mb-2 border rounded" />

        <!-- Button to Submit Form for Post Update -->
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Update Post</button>

        <!-- Button to Delete the Post (assuming it triggers JavaScript) -->
        <button type="button" class="delete-post-btn px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">Delete Post</button>
    </form>
</div>

<!-- JavaScript file for updating the post -->
<script src="/javascript/update-post.js"></script>

<!-- JavaScript file for deleting the post -->
<script src="/javascript/delete-post.js"></script>
